body {
  margin: 0;
  max-width: 100%;
  position: relative;
  font-family: sans-serif;
  background-color: #191919;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  margin: 0.5rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-column {
  flex-direction: column;
}

circle:hover {
  cursor: pointer;
}

text:hover {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
}

.chart,
.balls {
  flex: 2;
  background-color: #000;
  position: relative;
}

.info {
  flex: 1;
  padding: 40px 20px 40px 20px;
}

.info-card {
  background-color: #808182;
  text-align: center;
  border-radius: 6px;
  border: 3px solid #b2b3b4;
  padding: 20px;
  box-shadow: 1px 1px 6px;
}

.info-card > p {}

.nano-logo {
  max-width: 100px;
}

.configuration {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.mode-selection {
  width: 380px;
  border-radius: 5px;
}

.mode-select {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #eeeeee;
}

.mode-select.inactive:hover {
  background-color: #d6d6d6;
}

.mode-select.active {
  background-color: #2196f3;
}

.mode-select-separator {
  width: 2px;
  background-color: #b2b3b4;
}

.params {
  display: flex;
  height: 200px;
}

.params > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social > a > img {
  width: 30px;
  margin: 5px 10px;
  cursor: pointer;
}

#nano-address {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: yellow;
  font-size: 12px;
}

@media only screen and (max-width: 1024px) {
  .info {
    padding: 10px;
  }
  .chart {
    width: 100%;
  }
  .balls {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }
  #nano-address {
    display: none;
  }
  .mode-selection {
    width: 240px;
  }
}

.loading-balls {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.loading-balls > img {
  height: 64px;
  width: 64px;
  margin-bottom: 10px;
}

.loading-balls > span {
  color: #eeeeee;
}

/* Customize the label (the container) */
.container {
  display: flex;
  flex: 1;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  height: 5px;
  width: 100%;
  cursor: pointer;
  background: #2196f3;
  margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #2196f3;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type="range"]:focus {
  outline: none;
}
